$white: #fff;
$black: #000;
$clear-chill: #1890ff;
$deepsea-kraken: #14279b;
$kakitsubata-blue: #3d56b2;
$soft-blue: #5c7aea;
$moon-lily: #e6e6e6;
$calico-rock: #9a9483;
$white-convulvulus: #f3f1f5;
$brother-blue: #afb9c8;
$blood-burst: #ff4d4f;
$dr-white: #fafafa;
$deutzia-white: #f6f9fc;
$dark-grey: #363636;
$bright-star: #dee2e6;
