@import '../Base/variables';

.ant-layout-header {
  background-color: $white;

  .nav-link--active {
    color: $clear-chill !important;
  }

  .header__logo {
    float: left;
    width: 186px;

    svg {
      height: 30px;
      width: auto;
      padding: 0 20px 0 0;
    }
  }
}

.ant-layout-footer {
  background-color: $white;
}
